# Ignore all run time files that are not so important to store.
*.mtr
*.bdb
*.html
*.js
*.ini
*.xls
*.css
*.tsp
*.usr
*.lck
*.usp
*.cfg

# Ignore all lock files (if these are used and locked in UFT)
*.lck 

# Ignore these files until I sort them
uft-functions-sort.vbs
sort-functions.vbs
browser-functions-old.vbs
DomainFnLibrary
TestScenarios
env.config.xml