# Ignore all run time files that are not so important to store.
*.mtr
*.bdb
*.html
*.js
*.ini
*.xls
*.css
*.tsp
*.usr
*.lck
*.usp
*.cfg

# Ignore all lock files (if these are used and locked in UFT)
*.lck 